table {
    border: 2px solid black;
    border-collapse: collapse;
}

td {
    border: 2px solid black;
}

.hidden {
    display: none;
}

#newBookSection {
    width: 20vh;
}

input {
    width: 25vh;
}

